# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environments
.env
.venv
env/
venv/
ENV/

# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore log files and database files
*.log
*.db
*.sqlite
*.h5
*.hdf5

# Ignore IDE/editor settings
.vscode/
.idea/
*.swp

# Data
data/